<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />    

</head>
<body ng-app="cars">    
        <div class="col-md-12">
            <div class="row">
                <div class="text-center">
                    <h2>Car Search</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container" ng-controller="CarsController">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <select ng-model="selectedYear" ng-options="year for year in years" ng-change="getMakes()" class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="selectedMake" ng-options="make for make in makes" ng-change="getModels()" class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="selectedModel" ng-options="model for model in models" ng-change="getTrims()" class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="selectedTrim" ng-options="trim for trim in trims" ng-change="getCars()" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="panel">
                                <div class="panel-body">
                                    <ol>
                                        <li ng-repeat="car in cars">
                                            {{car.year}} , {{car.make}} , {{car.model}} , {{car.trim}}
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>                    
            </div>
        </div>


    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="NGApps/Module/CarsApp.js"></script>
    <script src="NGApps/Factory/CarFactory.js"></script>
    <script src="NGApps/Controller/CarsController.js"></script>
       
</body>

</html>
