<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/ui-grid-unstable.css" rel="stylesheet" />

</head>
<body ng-app="cars">
    <div id="wrapper">
        <div class="container" ng-controller="CarsController">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul  class="nav navbar-nav side-nav">
                        <li><a href="/Help">Help</a></li>
                    </ul>
                </div>
            </nav>
            <script type="text/ng-template" id="detailsModal.html">               
                <div class="modal-header">
                    <img ng-src="{{car.imageurl}}" class="img-responsive" />
                    <b>{{car.Car.year}}</b>  <b>{{car.Car.make | uppercase}}</b>  <b>{{car.Car.model | uppercase}}</b> <b>{{car.Car.trim | uppercase}}</b>
                </div>
                <div class="modal-body">
                    <tabset justified="true">
                       <tab heading="Details">
                        <div class="">
                            <div class="row">
                                <div class="col-xs-4">
                                    <b>Seats:</b> {{car.Car.seats}}
                                </div>
                                <div class="col-xs-4">
                                    <b>Doors:</b> {{car.Car.doors}}
                                </div>
                                <div class="col-xs-4">
                                    <b>Transmission:</b> {{car.Car.transmission_type}}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <b>Wheelbase:</b> {{car.Car.wheelbase}}  
                                </div>
                                <div class="col-xs-4">
                                    <b>Drive Type</b> {{car.Car.drive_type}}
                                </div>
                                <div class="col-xs-4">
                                    <b>Engine CC:</b> {{car.Car.engine_cc}}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <b>Engine Cylinders:</b> {{car.Car.engine_num_cyl}}
                                </div>
                                <div class="col-xs-4">
                                    <b>Engine Type:</b> {{car.Car.engine_type}} 
                                </div>
                                <div class="col-xs-4">
                                    <b>Valves per Cyl.:</b> {{car.Car.engine_valves_per_cyl}}
                                </div>
                            </div>
                        </div>
                            <div class="clearfix"></div>
                       </tab>
                        <tab heading="Recall Data">
                            <div class="panel panel-body" ng-if="car.recall.Count > 0">
                                <div class="row">
                                    <b>Page: </b>{{curPage}} of {{car.recall.Count}}
                                </div>
                                <div class="row">
                                    <b>Component: </b>{{arrRecall[index].Component}}
                                </div>
                                <div class="row">
                                    <b>Summary: </b>{{arrRecall[index].Summary}}
                                </div>
                                <div class="row">
                                    <b>Consequence: </b>{{arrRecall[index].Conequence}}
                                </div>
                                <div class="row">
                                    <b>Remedy: </b>{{arrRecall[index].Remedy}}
                                </div>
                            </div>
                            <div class="panel panel-footer" ng-show="arrRecall.length">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="col-md-6">
                                            <button type="button" ng-hide="curPage == 1"
                                                    ng-click="prev()">
                                                PREV
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" ng-hide="curPage == arrRecall.length"
                                                    ng-click="next()">
                                                NEXT
                                            </button>
                                        </div>                                       
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>   
                            <div class="panel panel-body" ng-if="car.recall.Count == 0">
                                <h4>No recall data exists for this car</h4>
                            </div>                    
                        </tab>                      
                    </tabset>                    
              </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>
            <div class="col-md-12">
                <div class="row">
                    <div class="text-center">
                        <h1 class="neon">F i n d  Y o u r  R i d e</h1>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Year</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Make</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Model</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Trim</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <select ng-model="selectedYear" ng-options="year for year in years" ng-change="getMakes()" class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="selectedMake" ng-options="make for make in makes" ng-change="getModels()" class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="selectedModel" ng-options="model for model in models" ng-change="getTrims()" class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="selectedTrim" ng-options="trim for trim in trims" ng-change="getCars()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div ui-grid="gridOptions" ui-grid-pagination external-scopes="gridFunctions" class="myGrid" id="grid1" ui-grid-auto-resize ng-style="getTableHeight()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <!--<div class="footer"> 
            <div class="container">
                <p>&copy;  - Car Search by Tom Setliff</p>
            </div>            
        </div>-->
   
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/ui-grid-unstable.js"></script>
    <script src="NGApps/Module/CarsApp.js"></script>
    <script src="NGApps/Factory/CarFactory.js"></script>
    <script src="NGApps/Controller/CarsController.js"></script>
    

</body>

</html>
